<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>


<!--It will go to login mapping but since now user is logged in he will land in home page mapping i.e "/", if-->
<!--id password wrong then again it will land in login page.-->
<form action="login" method="POST" >
   Name: <input type="text" name="username" value=''><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>